@using SportsPro.Models.ViewModels
@model TechIncidentViewModel;

@{
    ViewBag.Title = "List Incident for Technician";
}

<h1>Technician: @Model.Technician?.TechnicianName</h1>
<h1>Assigned/Open Incident</h1>

if(Model.Incident.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Data Opened</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach(var incident in Model.Incidents)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.Customer.FullName</td>
                <td>@incident.Product.ProductName</td>
                <td>@incident.DateOpened.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit"
                        asp-route-id="@incident.IncidentID"
                        class="btn btn-primary">Add</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>The selected Technician has no open incident.</p>

}
<a asp-action="Get" class="btn btn-primary">Switch Technician</a>